body{
    font-family: 'Roboto', sans-serif;

}
h1{
    font-size: 7em;
    font-family: 'Spectral', serif;
    margin-bottom: 40px;
}
h3{
    font-size: 1.5em;
    
}
h4{
    font-size: 1.4em;
    font-weight: bold;
}
h5{
    font-size: 1.2em;
    font-weight: bold;
}
h6{
    font-size: 1.1em;
    font-weight: bold;
}
p{
    font-size: 1em;
}
a{
    font-size: 1em;
    text-decoration: none;
    color: #191919;
}
b{
    font-weight: bold;
}
/*NAVIGATION BAR*/
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-bar{
    background-color: #FFC017;   
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #191919 solid 2px; 
}
.nav-bar div ul{
    list-style-type: none;
    display: flex;
    align-items: baseline;
    padding: 15px 12px 15px;
    justify-content: right; 
}
.nav-bar div ul li{
    padding-left: 20px;  
}
.logo {
    padding-left: 150px;
}
.buttonStart{
    background-color: #191919; 
    color:white;
    border-radius: 7em;
    border: none;
    width: 100px;
    height: 40px;
    padding: 5px;   
}
.colorLink{
    color: white;
}
/* MAIN PAGE*/
.groundColor{
    background-color: #FFC017;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #191919 solid 2px;
}
.main-title{
    padding: 70px 150px; 
}
/*TRENDING*/
.trendTitle{
    padding: 40px 150px 0px 150px;
}
.trendingHot{
    padding: 30px 150px;
    display: flex;
    justify-content: space-around;
}
.trendingHot2{
    padding: 30px 150px 30px;
    display: flex;
    justify-content: space-around;
    border-bottom: #E9E6E3 solid 2px;
}
.articleHot{
    width: 400px;
    padding: 30px 30px 30px 0px;
}
.profileStruct{
   display: flex;
   align-items: baseline;
   gap: 10px;

}
.minititle{
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.numberHot{
    font-size: 2em;
    font-weight: bold;
    color: #E9E6E3;
}
.profileStructBot{
    margin-left: 45px;
    display: flex;
    align-items: baseline;
    gap: 10px;
    color: #757575;
}
/*LINK PAGE*/
.bigcontainer{
    display: flex;
    
}
.matterTag{
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    z-index: 10;
    display: flex;  
}
.buttonTag{
    background-color:transparent; 
    color:#E9E6E3;
    border:none;
}


/*ARTICLES*/
.profileStruct2{
    gap: 10px;
    font-weight: bold; 
}
.minititle2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.preview{
    color: #757575;
    width: 500px;
}
.profileStructBot2{
    display: flex;
    align-items: baseline;
    gap: 10px;
    color: #757575;
    
}
article{
    margin-left: 150px;
    margin-top: 40px;
    display: flex; 
}