<div class="bg-dark">
    <h1 class="text-center text-white">Benvenuto</h1>
    <ul class="nav justify-content-center mb-3">
        <li class="nav-item">
            <a class="btn btn-primary" [routerLink]="['home']">Home</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary" [routerLink]="['auth/login']">Login</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary" [routerLink]="['auth/register']">Registrati</a>
        </li>
    </ul>
</div>
  
