
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}



.circle-container{
    width: 113px;
    height: 113px;
    background-color: rgb(205, 205, 205);
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    filter: drop-shadow(0px 0px 10px rgb(0 0 0 / 0.4));
    
}

.semicircle {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    transform-origin: right center;
    
}

.semicircle:nth-child(1) {
    background-color: #00FFFF;
    z-index: 2;
}

.semicircle:nth-child(2) {
    background-color: #00FFFF;
    z-index: 3;
}

.semicircle:nth-child(3) {
    background-color: rgb(205, 205, 205);
    z-index: 4;
    /*display: none;*/
}

.outermost-circle {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    z-index: 5;     
}

.timer-container {
    width: 330px;
    height: 200px;
    z-index: 6;
}

.timer {
    width: 400px;
    height: 100;
    z-index: 7;
}

.timer div {
    font-size: 28px;
    font-weight: 100;
    width: 80px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
}

.timer.colon {
    background-color: transparent;
    width: 10px;
    margin-left: 0;
    margin-right:0 ;
    padding-bottom: 15px;
}

.fix-position {
 flex-direction: column;
}

.font-size {
    font-size: 10px;
}